<%= form_with(model: job_application, local: true) do |form| %>
  <% if job_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_application.errors.count, "error") %> prohibited this job_application from being saved:</h2>

      <ul>
        <% job_application.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, class: 'form-control',start_year: 1920, end_year: 2020, required: true %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.collection_select :qualification_id, @qualifications, :id, :title, {:include_blank => "Choose your qualification"}, {:class=>'form-control input-lg', :id=>'qualification_id', required: true}%>
  </div>

  <div class="form-group">
    <%= form.label 'CV File upload' %>
    <%= form.file_field :cv_file, required: true %>
  </div>

  <%= form.hidden_field :job_posting_id %>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
