<div class="container">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <p id="notice"><%= notice %></p>

    <h1>Job Applications</h1>

    <table class="table table-responsive" style="max-width: 100%;">
      <thead>
        <tr>
          <th style="width: 10%">First name</th>
          <th style="width: 10%">Last name</th>
          <th style="width: 10%">Birthdate</th>
          <th style="width: 10%">Email</th>
          <th style="width: 10%">Phone</th>
          <th style="width: 40%">Address</th>
          <th style="width: 10%">Qualification</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @job_applications.each do |job_application| %>
          <tr>
            <td><%= job_application.first_name %></td>
            <td><%= job_application.last_name %></td>
            <td><%= job_application.birthdate %></td>
            <td><%= job_application.email %></td>
            <td><%= job_application.phone %></td>
            <td><%= job_application.address %></td>
            <td><%= Qualification.find(job_application.qualification_id).title %></td>
            <td><%= link_to 'Show', job_application %></td>
            <td><%= link_to 'Edit', edit_job_application_path(job_application) %></td>
            <td><%= link_to 'Destroy', job_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Job Application', new_job_application_path %>
  </div>
</div>