<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @job_application.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @job_application.last_name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @job_application.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job_application.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @job_application.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @job_application.address %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= Qualification.find(@job_application.qualification_id).title %>
</p>

<p>
  <a href="<%= @job_application.cv_file.attached? ? rails_blob_path(@job_application.cv_file, disposition: 'attachment') : '#' %>" target="_blank" download>Download CV file</a>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
