<h1>Welcome to Job Detector</h1>
<p>You have been detected!</p>

<%= select_tag "categories", options_from_collection_for_select(@categories, "id", "name"), :include_blank => "Search category", class: 'form-control' %>

<br>
<div class="job_post col-lg-12 col-md-12 col-sm-12">
<% @job_postings.each do |post| %>

    <li>
      <%= link_to post.title, job_description_url(id: post.id) %>
      <%= post.description.truncate(100) %>
    </li>
<% end %>
</div>

<br>

<div class="apple_pagination">
  <%= will_paginate @job_postings, :container => false %>
</div>
