<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to JobFinder, <%= @job_application.first_name %></h1>
<p>
  You have applied for <%= @job_posting.title %> at company,
  <br>
</p>
<p>
  Here's a review of your application
</p>
<p>
  <strong>First name:</strong>
  <%= @job_application.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @job_application.last_name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @job_application.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job_application.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @job_application.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @job_application.address %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @job_application.qualification_id %>
</p>

<p>Thanks for applying and have a great day!</p>
</body>
</html>