<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>New application for your job posting: <%= @job_posting.title %></h1>
<p>
  <%= "#{@job_application.first_name} #{@job_application.last_name}" %> has applied for a job.
  <br>
</p>
<p>
  To review this application, visit this link: <%= @url %>.
</p>
<p>Thank you for using our services!</p>
</body>
</html>