<%= form_with(model: job_posting, local: true) do |form| %>
  <% if job_posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_posting.errors.count, "error") %> prohibited this job_posting from being saved:</h2>

      <ul>
        <% job_posting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.collection_select(:category_id, Category.all.sort_by { |category| category.name }, :id, :name, {:include_blank => "Select category"}, {:class=>'form-control', :required => true})%>
  </div>

  <div class="form-group">
    <%= form.label "Required qualification" %>
    <%= form.collection_select :qualification_id, @qualifications, :id, :title, {:include_blank => "Required qualification"}, {:class=>'form-control input-lg', :id=>'qualification_id'} %>
  </div>

  <div class="form-group">
    <%= form.label :expires_in %>

    <div style="overflow:hidden;">
      <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <div id="datetimepicker13">
              <%= form.hidden_field(:expires_in,
                  value: form.object.expires_in ? form.object.expires_in.strftime('%I:%M %p') : nil,
                  class: "form-control datetimepicker-input", data: {target:"#datetimepicker13"}) %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
