<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Expires in</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% job_postings.each do |job_posting| %>
    <tr>
      <td><%= link_to job_posting.title, new_job_application_path(job_posting_id: job_posting.id) %></td>
      <td><%= job_posting.description %></td>
      <td><%= job_posting.category.name %></td>
      <td><%= job_posting.expires_in %></td>
    </tr>
  <% end %>
  </tbody>
</table>