<table class="table table-responsive">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Expires in</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @job_postings.each_with_index do |job_posting, index| %>
    <tr class="job_post_tr">
      <td style="width: 20%;"><%= link_to job_posting.title, job_description_url(id: job_posting.id) %></td>
      <td style="width: 40%;"><%= job_posting.description %></td>
      <td style="width: 20%;"><%= job_posting.category.name %></td>
      <td style="width: 20%;"><%= job_posting.expires_in %></td>
    </tr>
    <% if job_posting.expires_in < DateTime.now %>
      <%= javascript_tag do %>
        $(".job_post_tr")[<%= index %>].style.background = "red";
        $(".job_post_tr")[<%= index %>].setAttribute("title", "This job posting has expired");
  <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @job_postings, :container => false %>
</div>
