<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job_posting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_posting.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job_posting.email %>
</p>

<p>
  <strong>Required qualification:</strong>
  <%= @job_posting.qualification.title %>
</p>

<p>
  <strong>Expires in:</strong>
  <%= @job_posting.expires_in.strftime("%d.%M.%Y") %>
</p>

<% if @expired %>
  This job posting doesn't accept applications anymore |
  <%= link_to 'Back', :back %>
<% else %>
<%= link_to 'Apply', new_job_application_path(job_posting_id: @job_posting.id) %> |
<%= link_to 'Back', :back %>
<% end %>