<p id="notice"><%= notice %></p>

<h1>My Job Postings</h1>

<table class="table table-responsive">
  <thead>
  <tr>
    <th scope="col">Employer</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Email</th>
    <th scope="col">Category</th>
    <th scope="col">Expires in</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @job_postings.each do |job_posting| %>
    <tr>
      <td><%= "#{job_posting.employer.first_name} #{job_posting.employer.last_name}" %></td>
      <td><%= job_posting.title %></td>
      <td><%= job_posting.description %></td>
      <td><%= job_posting.email %></td>
      <td><%= job_posting.category.name %></td>
      <td><%= job_posting.expires_in %></td>
      <td><%= link_to 'Show', job_posting %></td>
      <td><%= link_to 'Edit', edit_job_posting_path(job_posting) %></td>
      <td><%= link_to 'Destroy', job_posting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="apple_pagination">
  <%= will_paginate @job_postings, :container => false %>
</div>


<br>

<%= link_to 'New Job Posting', new_job_posting_path, class: 'btn btn-info' %>

<br>
<br>