<p id="notice"><%= notice %></p>

<p>
  <strong>Employer:</strong>
  <%= @job_posting.employer_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job_posting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_posting.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job_posting.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job_posting.category_id %>
</p>

<p>
  <strong>Expires in:</strong>
  <%= @job_posting.expires_in %>
</p>

<%= link_to 'Edit', edit_job_posting_path(@job_posting) %> |
<%= link_to 'Back', job_postings_path %>
