<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light" id="mainNav">
  <div class="container">
    <%= link_to 'Job Detector', root_path, class: 'navbar-brand js-scroll-trigger' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <%= link_to 'Job Postings', job_postings_path, class: 'nav-link js-scroll-trigger' %>
          </li>

        <% if current_employer %>
          <li class="nav-item">
            <%= link_to 'Applications', job_applications_url, class: 'nav-link js-scroll-trigger' %>
          </li>

          <li class="nav-item">
            <%= link_to 'My job postings', my_job_postings_path, class: 'nav-link js-scroll-trigger' %>
          </li>

          <li class="nav-item">
            <%= link_to 'Log out', destroy_employer_session_path, method: "delete" , class: 'nav-link js-scroll-trigger' %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Log in', new_employer_session_path, class: 'nav-link js-scroll-trigger' %>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>

