<!DOCTYPE html>
<html>
  <head>
    <title>Job Detector</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div class="container" style="min-height: 88.3vh;">
      <% if notice %>
        <p class="alert alert-success" style="margin-top: 70px;"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger" style="margin-top: 70px;"><%= alert %></p>
      <% end %>

      <div class="common col-lg-12 col-md-12 col-sm-12">
      <%= yield %>
      </div>
    </div>
  </body>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Luka Povreslo <%= Time.now.year %></p>
    </div>
    <!-- /.container -->
  </footer>
</html>
